body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.rounded-circle {
    width: 40px;
    height: 40px;
}

.card-block {
    color: #212121;
    font-size: 16px;

}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #12466D !important;
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid rgba(115, 115, 115, 0.125);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-header {
    background-color: #FAFAFA;
    border-bottom: 0px;
}

h5 {
    font-size: 17px;
    font-weight: 300;
}

.label {
    color: #607D8B;
    font-size: 13px;
}

.label-text {
    color: #616161;
    font-size: 14px;
}

a {
    color: #283593;
}

a.label-link:hover, a.label-link:active, a.label-link:focus {
    text-decoration: none;
}

a:visited {
    color: #428BCB;
}

.last-update {
    color: #9E9E9E;
    font-size: 16px;
}

.time {
    color: #BDBDBD;
    font-size: 15px;
    white-space: nowrap;

}

.navbar {
    background-color: #fff;
}

.navbar li.active {
    border: 2px solid #12466D;
    border-radius: 4px;
}
.navbar li:not(.active) {
    border: 2px solid transparent;
}
.navbar li:hover:not(.active) {
    border: 2px solid #12466D;
    border-radius: 4px;
}

.navbar li:not(.active):hover a {
    color: #12466D !important;
}

.navbar li.active a {
    color: #12466D !important;
}

.navbar li a {
    color: #12466D;
}

.pagination {
    font-size: 20px;
}
